<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Algorithmia SE</title>
        <!-- GOOGLE FONT (Faustina) -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <h2 align="center">Welcome to Algorithmia SE's Live Coding Session Where We Are Building A Simple Site</h2>
        <p><a href="/login">Click here to login</a></p>
        <p><a href="/signup">Click here to Signup</a></p>
    </body>
</html>
